<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NFO_Helper.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NFO_Helper.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NFO_Helper.Settings>
            <setting name="DesiredMinimumImageWidth" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="LastUsedFilterFilename" serializeAs="String">
                <value />
            </setting>
            <setting name="KnownFilterFilenames" serializeAs="String">
                <value />
            </setting>
            <setting name="ExportScheme" serializeAs="String">
                <value />
            </setting>
        </NFO_Helper.Settings>
    </userSettings>
    <applicationSettings>
        <NFO_Helper.Settings>
            <setting name="TMDb_Api_Key" serializeAs="String">
                <value>3d7dd08066c1003d4671936a4d3a5b85</value>
            </setting>
        </NFO_Helper.Settings>
    </applicationSettings>
</configuration>